<div class="header-filter" style="min-height: 600px; padding-top: 50px;">
    <div class="container text-center">
        <div class="row">
            <div class="col-10 offset-1">
                <h1 class="h1-seo">2019 Grit Fitness Festival</h1>
                <h3 class="h3">The premier test of fitness in the Mid-Atlantic Region
                    <br>
                    <br>
                    Sponsored By:
                </h3>
            </div>
        </div>
        <div class="row">
                <div class="col-lg-4 text-center">
                    <img src="img/PIAS LOGO JPEG.jpeg" height="150px" style="padding-bottom: 50px" alt="Play It Again Sports">
                </div>
                <div class="col-lg-4 text-center">
                    <img src="img/paleo.jpeg" height="150px" style="padding-bottom: 50px" alt="Paleo To Go">
                </div>
                <div class="col-lg-4 text-center">
                    <img src="img/rocktape.jpeg" height="150px" style="padding-bottom: 50px" alt="Rocktape">
                </div>
                
        </div>
        <div class="row">
                <div class="col-10 offset-1">
                    <br>
                        <a class="btn btn-lg btn-danger btn-round" href="https://competitioncorner.net/events/1500/#.W-14F3pKjOQ" target="_blank">Register</a>
                </div>
        </div>
    </div>
</div>