<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h1 class="title">
          <img src="img/logo-footer.png" alt="">
        </h1>
      </div>
      <div class="col-md-3">
        <ul class="nav">
          <li class="nav-item">
            <a href="./index.html" class="nav-link">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a href="team-grit.html" class="nav-link">
              Team Grit
            </a>
          </li>
          <li class="nav-item">
            <a href="kid-grit.html" class="nav-link">
              Kid Grit
            </a>
          </li>
          <li class="nav-item">
            <a href="teen-grit.html" class="nav-link">
              Teen Grit
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav">
          <li class="nav-item">
            <a href="olympic-grit" class="nav-link">
              Olympic Grit
            </a>
          </li>
          <li class="nav-item">
              <a href="obstacle.html" class="nav-link">
               OCR Grit Mile
              </a>
            </li>
          <li class="nav-item">
            <a href="http://www.crossfitop.com" class="nav-link" target="_blank">
             About Crossfit Oyster Point
            </a>
            <li class="nav-item">
                <a href="mailto:jim@crossfitop.com" class="nav-link" target="_blank">
                  Contact Us
                </a>
              </li>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3 class="title">Follow us:</h3>
        <div class="btn-wrapper profile">
          <a target="_blank" href="https://instagram.com/gritfitnessfestival" class="btn btn-icon btn-neutral btn-round btn-simple"
            data-toggle="tooltip" data-original-title="Follow us">
            <i class="fab fa-instagram"></i>
          </a>
          <a target="_blank" href="https://www.facebook.com/gritfitnessfestival" class="btn btn-icon btn-neutral btn-round btn-simple"
            data-toggle="tooltip" data-original-title="Like us">
            <i class="fab fa-facebook-square"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>