<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16" />
    {{> meta}}
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="css/nucleo-icons.css" rel="stylesheet" />
    <link href="css/blk-design-system.css?v={{ hash 'css/blk-design-system.css' }}" rel="stylesheet" />
</head>

<body>
    {{> navigation}}
    {{> body}}
    {{> footer}}

    <script src="js/core/jquery.min.js" type="text/javascript"></script>
    <script src="js/core/popper.min.js" type="text/javascript"></script>
    <script src="js/core/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="js/plugins/bootstrap-switch.js"></script>
    <script src="js/plugins/nouislider.min.js" type="text/javascript"></script>
    <script src="js/plugins/chartjs.min.js"></script>
    <script src="js/plugins/moment.min.js"></script>
    <script src="js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <script src="js/blk-design-system.js?v={{ hash 'js/blk-design-system.js' }}" type="text/javascript"></script>
</body>

</html>